.city{
  display:inline-block;
  font-size: 40px;
  vertical-align: top;
}
.top{
  border:5px solid #000;
  padding:10px;
  margin:10px;
  width:500px;
  border-radius: 15px;
  background-color: red;
}
.temp{
  font-size: 40px;
}
