body{
  font-family: helvetica;
}
.city{
  display:inline-block;
  font-size: 40px;
  vertical-align: top;
}
.top{
  border:5px solid #AEDFE5;
  padding:10px;
  margin-top:40px;
  width:500px;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  color:#;
}
.temp{
  font-size: 40px;
}
.sub{
  font-size: 8px;
  color: #57B7DF;
}
a:link{
  color:#57B7DF;
}
a:visited{
  color: #57B7DF;
}
